<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>회원 가입</title>
</head>
<body style="background: #FAFAFA">
    <div style="display: flex; flex-direction: column; align-items: center; width: 100%">
        <div style="width: 300px; height: 20px; margin-top: 10px;">
            <div class="progress">
                <div id="progress_bar" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    <div style="padding: 20px ;text-align: center;border: solid 1px rgba(219, 219, 219, 1); width: 300px; height: 500px; margin-top: 30px; background: white">
        <div style="padding-bottom: 10px"><img style="width: 150px"
                                               src="/media/main_image.png">
        </div>
        <div style="font-weight: bold; color: gray;padding-bottom: 50px"> 강아지 정보를 입력해주세요.</div>
        <div>
        <div class="form-floating mb-3">
            <label for="activity" class="form-label" style="font-size: 14px; position: absolute; top: -40px; left: -15px;">활동성</label>
            <input type="range" class="form-range" id="input_activity" min="0" max="100" onchange="updateInput()" oninput="document.getElementById('value1').innerHTML=this.value;">
            <span id="value1"></span>
            <div style="display: flex; justify-content: space-between;">
                <span style="font-size: 12px;">비활동적</span>
                <span style="font-size: 12px;">활동적</span>
            </div>
        </div>
        </div>
        <div>
        
        <div class="form-floating mb-3">
            <input type="number" class="form-control" style="font-size: 14px; height: 24px" id="input_bcs" min="1" max="9">
            <label for="label_bcs" style="font-size: 14px;padding: 4px 10px">BCS(비만도)</label>
            <a href="/media/BCS_image.png" target="_blank" style="font-size: 12px;" id="BCS_image">BCS에 대한 자세한 내용보기</a>
        </div>
  
        </div>
        <div class="form-floating mb-3">
            <select class="form-control" style="font-size: 14px; height: 24px" id="input_weight_control" onchange="onSelectChangeWeight()">
              <option value="" selected disabled>체중증감 선택</option>
              <option value="lose a lot of weight">lose a lot of weight</option>
              <option value="lose a little weight">lose a little weight</option>
              <option value="maintain weight">maintain weight</option>
              <option value="gain a little weight">gain a little weight</option>
              <option value="gain a lot of weight">gain a lot of weight</option>
            </select>
            <label for="weight_control" class="selected-option" id="label_weight_control" style="color: black;">체중증감</label>
        </div>
                   

        <button id="join_button"  class="btn btn-primary" style="width: 100%; margin:10px 0px"> 다음 </button>
    </div>
    <div style="padding: 20px ;text-align: center;border: solid 1px rgba(219, 219, 219, 1); width: 300px; height: 70px; margin-top: 30px; background: white">
        <div> 계정이 있으신가요? <a href="login">로그인</a></div>
    </div>
</div>



<!-- Optional JavaScript; choose one of the two! -->
<script>
    // progress_bar 설정
    $(document).ready(function() {
        let progress = 0;
        let totalFields = 11;
        let defaultNumber = 8;
        let completedFields = 0;
        completedFields = defaultNumber + calculateCompletedFields();
        progress = (completedFields / totalFields) * 100;
        $('#progress_bar').css('width', progress + '%').attr('aria-valuenow', progress);
      });
    
      function calculateCompletedFields() {
        let completedFields = 0;
        if ($('#input_bcs').val() !== "" && $('#input_bcs').val() != 5) {
          completedFields++;
        }
        if ($('#input_activity').val() !== "" && $('#input_activity').val() != 50) {
          completedFields++;
        }
        if ($('#input_weight_control').val() !== "" && $('#input_weight_control').val() != null) {
          completedFields ++;
        }
        return completedFields;
      }

      function updateProgressBar() {
        let progress = 0;
        let totalFields = 11;
        let defaultNumber = 8;
        let completedFields = 0;
        completedFields = defaultNumber + calculateCompletedFields();
        progress = (completedFields / totalFields) * 100;
        $('#progress_bar').css('width', progress + '%').attr('aria-valuenow', progress);
    }


    $('#input_weight_control').on('change', updateProgressBar);
    $('#input_bcs').on('change', updateProgressBar);
    $('#input_activity').on('change', updateProgressBar);

    // 실시간 값 보여주기
    function ShowSliderValue(sVal)
    {
        var obValueView = document.getElementById("slider_value_view");
        obValueView.innerHTML = sVal
    }
 
    $('#join_button').click(function () {

        let activity = $('#input_activity').val();
        let bcs = $('#input_bcs').val();
        let weight_control = $('#input_weight_control').val();
        
        if (!activity || !bcs || !weight_control) {
            alert("입력되지 않은 값이 있습니다.");
            return;
          }

        $.ajax({
            url: "/user/join3",
            data: {
                activity : activity,
                weight_control : weight_control,
                bcs : bcs
            },
            method: "POST",
            success: function (data) {
                console.log("성공");
                alert("필수사항 완료");
                location.replace('/user/join4');

            },
            error: function (request, status, error) {
                console.log("에러");
            },
            complete: function () {
                console.log("완료");
            }
        });
    });

    // 리스트 값 변경
    function onSelectChangeWeight() {
        var weightSelect = document.getElementById("input_weight_control");
        var selectedWeight = weightSelect.options[weightSelect.selectedIndex].value;
        var label = document.getElementById("label_weight_control");
        label.innerHTML = selectedWeight !== "" ? selectedWeight : "무게";
    }
</script>




<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>