/* 전체 폼 스타일링 */
form {
  width: 60%;
  margin: auto;
  font-size: 1.2rem;
}

/* 체크박스 레이블 스타일링 */
label {
  display: block;
  margin-bottom: 10px;
}

/* 체크박스 컨테이너 스타일링 */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* 체크박스 스타일링 */
input[type="checkbox"] {
  margin-right: 10px;
}

/* 텍스트 박스 스타일링 */
input[type="text"] {
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* 버튼 스타일링 */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3071a9;
}
